{% extends 'base.html' %}
{% load static %}
{% block content %}
 <div class="mt-4 p-5 bg-white text-black rounded">
        <center><h1>สินค้า</h1></center>
     <p>
        <div class="row">
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                <img src="{% static 'images/Nike.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <font color="black">
                <h5 class="card-title">Nike Air Force 1’07 3,700 บาท </h5></font>
                    <font color="black"><p class="card-text">สดใหม่อย่างต่อเนื่องและโดดเด่นอยู่เสมอกับ AJ1 ทรงกว้างบาง ซึ่งเป็นหนึ่งในสนีกเกอร์ที่มีเอกลักษณ์มากที่สุดตลอดกาล เวอร์ชันนี้มาพร้อมโทนสีธรรมชาติและรายละเอียดหนังกลับเพื่อปรับโฉมคู่ตำนาน</p></font>
                <a href="https://www.nike.com/th/t//DD8959-103" class="btn btn-primary">ดูสินค้า</a>
                    </div>
                </div>
                </div>

            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                <img src="{% static 'images/Adidas.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <font color="black">
                <h5 class="card-title">STAN SMITH, FOREVER 4,000 บาท </h5></font>
                    <font color="black"><p class="card-text">ตั้งแต่ปี 1973 เป็นต้นมา Stan Smith ยังคงเอกลักษณ์เอาไว้ไม่เปลี่ยน วันนี้ ถึงเวลาแล้วที่โมเดลสุดคลาสสิกตลอดกาลจะกลับมาในเวอร์ชันที่ยั่งยืนยิ่งขึ้น และกลายเป็นความคลาสสิกที่ไร้กาลเวลาอย่างเเท้จริง</p></font>
                <a href="https://www.adidas.co.th/" class="btn btn-primary">ดูสินค้า</a>
                    </div>
                </div>
                </div>

            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                <img src="{% static 'images/Vans.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <font color="black">
                <h5 class="card-title">Vans Old Skool Core 2,400 บาท </h5></font>
                <font color="black"><p class="card-text">ตำนานแห่งรองเท้าผ้าใบที่ใส่สบายๆ สไตล์ลำลอง จากสหรัฐอเมริกาที่บ่งบอกความเป็นอเมริกันชนได้อย่างดี
                    VANS เป็นรองเท้าลำลองพร้อมเสื้อผ้าสไตล์สตรีทแวร์ดีไซน์สุดล้ำ วัยรุ่นอเมริกันนิยมสวมใส่ </p></font>
                <a href="https://www.jdsports.co.th/product/white-vans--old-skool-core/204660_jdsportsth/" class="btn btn-primary">ดูสินค้า</a>
                    </div>
                </div>
                </div>

            <p>

            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                <img src="{% static 'images/Newbalance.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <font color="black">
                <h5 class="card-title">New Balance 530 3,990 บาท</h5></font>
                     <font color="black"><p class="card-text">แบรนด์ NEW BALANCE จากอเมริกา ได้รับความนิยมอย่างมากทั้งในประเทศไทยและต่างประเทศ ด้วยการออกแบบและการใช้วัสดุที่มีคุณภาพสูง เหมาะสำหรับผู้ที่ต้องการรองเท้าสวมใส่สบาย และระบายอากาศได้ดี</p></font>
                <a href="https://sasom.co.th/shoes/MR530SG/new-balance-530-white-silver-navy" class="btn btn-primary">ดูสินค้า</a>
                    </div>
                </div>
                </div>

            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                <img src="{% static 'images/Converse.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <font color="black">
                <h5 class="card-title">CONVERSE All Star Ox Canvas 2,000 บาท </h5></font>
                    <font color="black"><p class="card-text">Chuck Taylor All Star Rave ออกแบบมาเพื่อความสบายตลอดวันและใช้งานได้หลากหลาย โดยผสมผสานองค์ประกอบการออกแบบที่ไร้กาลเวลาเข้ากับส่วนหุ้มชั้นนอกที่ปลายเท้าหยักที่สื่ออารมณ์ แผ่นรองน้ำหนักเบาที่ลิ้นรองเท้าและส่วนหุ้มข้อให้การรองรับเพิ่มเติม
                        ขณะที่ส้นและลิ้นรองเท้าที่ยาวขึ้น</p></font>
                <a href="https://lifestyle.firster.com/product/P100002512" class="btn btn-primary">ดูสินค้า</a>
                    </div>
                </div>
                </div>

            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                <img src="{% static 'images/nikee.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <font color="black">
                <h5 class="card-title">Air Jordan 1 Low SE Craft 4,300 บาท </h5></font>
                <font color="black"><p class="card-text">สดใหม่อย่างต่อเนื่องและโดดเด่นอยู่เสมอกับ AJ1 ทรงกว้างบาง
                    ซึ่งเป็นหนึ่งในสนีกเกอร์ที่มีเอกลักษณ์มากที่สุดตลอดกาล เวอร์ชันนี้มาพร้อมโทนสีธรรมชาติและรายละเอียดหนังกลับเพื่อปรับโฉมคู่ตำนานที่พุ่งทะยานในแบบเรียบง่าย</p></font>
                <a href="https://www.nike.com/th/" class="btn btn-primary">ดูสินค้า</a>
                    </div>
                </div>
                </div>

            <p>
                    </div>
                </div>
                </div>
                    </div>
                </div>
                </div>











        </div>
    </div><br>
{% endblock %}