{% extends 'base.html' %}
{% load static %}
{% block content %}
 <div class="mt-4 p-5 bg-dark text-white rounded">
        <center><h1>สิ่งที่สนใจ</h1></center>
     <p>
        <div class="row">
     <div class="col-lg-4">
                <img src="{% static 'images/7.jpg' %}"
                     width="100%" height="100%">
            </div>
      <div class="col-lg-4">
                <img src="{% static 'images/8.jpg' %}"
                     width="100%" height="100%">
            </div>
      <div class="col-lg-4">
                <img src="{% static 'images/9.jpg' %}"
                     width="100%" height="100%">
            </div>
     <p>
            <div class="col-lg-12">
                <h2 align= 'center'>วอลเลย์บอล (Volleyball)</h2>
                <h3 align= 'center'>วอลเลย์บอล (อังกฤษ : Volleyball)
ตนกีฬาที่แข่งขันกันระหว่าง 2 ทีม ทีมละ 6 คน โดยแบ่งเขตจากกันด้วยเน็ตสูง การทำคะแนน จากลูกบอลที่ตกในเขตแดนของฝ่ายตรงกันข้าม

          กีฬาวอลเลย์บอลเกิดขึ้นเมื่อปี ค.ศ. 1895 โดยนายวิลเลียม จี. มอร์แกน ผู้อำนวยการฝ่ายพลศึกษาของสมาคม Y.M.C.A. เมืองฮอลโยค รัฐแมสซาชูเซตส์ ประเทศอเมริกา เป็นผู้คิดเกมการเล่นขึ้น เพื่อตอบสนอง ประยุกต์กีฬาให้สามารถเล่นในฤดูหนาวได้ และก็สามารถได้ได้ ทุกเพศทุกวัย</h3>

            </div>
        </div>
    </div><br>
{% endblock %}